<div id="content" style="margin-top:100px">
    <h1 class="under-line-effect under-line-effect--red" style="text-align: center; color: grey">FEEDBACK</h1>
    <ul class="feedback__list">
        <li class="feedback__item">
            <div class="feedback__wrapper">
                <div class="feedback__user-info">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="" class="feedback__img">
                    <div class="feedback__name info__label">Tran Minh Tan</div>
                </div>
                <div class="feedback__desc">
                    <div class="feedback__item info__label">Sản phẩm: Gà rán</div>
                    <span class="feedback__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam magni, soluta consequuntur ex quod repellendus commodi possimus quos doloribus ratione deserunt quam perspiciatis fuga hic nulla sunt dicta. Voluptate, vero.</span>
                    <div class="feedback__time">27 tháng 11 năm 2021, 5:11PM</div>
                </div>
            </div>
        </li>

         <li class="feedback__item">
            <div class="feedback__wrapper">
                <div class="feedback__user-info">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="" class="feedback__img">
                    <div class="feedback__name info__label">Tran Minh Tan</div>
                </div>
                <div class="feedback__desc">
                    <div class="feedback__item info__label">Sản phẩm: Gà rán</div>
                    <span class="feedback__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam magni, soluta consequuntur ex quod repellendus commodi possimus quos doloribus ratione deserunt quam perspiciatis fuga hic nulla sunt dicta. Voluptate, vero.</span>
                    <div class="feedback__time">27 tháng 11 năm 2021, 5:11PM</div>
                </div>
            </div>
        </li>
    </ul>
</div>