<!-- Begin Footer -->
<div class="footer">
    <div class="footer__copyright">
        <span>Restaurant POS is made by Group ... - L06 - HCMUT in 2021</span>
    </div>
</div>
</div>
<!-- End Footer -->