<div class="header__index">
  <section class="header">
    <div class="header__logo">
      <a href="" class="header__logo-link">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Kentucky_Fried_Chicken_201x_logo.svg"
          alt="" class="header__logo-img">
      </a>
    </div>
    <div class="header__navbar hide-on-tablet-mobile">
      <ul class="header__navbar-list">
        <li class="header__navbar-item">
          <a href="/" class="header__navbar-item-link">HOME</a>

        <li class="header__navbar-item">
          <a href="/menu" class="header__navbar-item-link">MENU</a>

        </li>

        <li class="header__navbar-item">
          <a href="/booktable" class="header__navbar-item-link">TABLE RESERVATION</a>
        </li>
        {{#if (isMatch user.permission "Manager")}}
        <li class="header__navbar-item">
          <a href="" class="header__navbar-item-link">
                <img src="/image/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{user.name}}
          </a>
          <ul class="header__subnav-list">
            <li class="header__subnav-item">
              <a href="/manager/viewrevenue" class="header__subnav-link">Thông tin doanh thu</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/" class="header__subnav-link">Quản lý đặt bàn</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/manager/create" class="header__subnav-link">Thêm món ăn</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/user/logout" class="header__subnav-link">Đăng xuất</a>
            </li>
          </ul>
        </li>
        {{/if}}
        {{#if (isMatch user.permission "Customer")}}
        <li class="header__navbar-item">
          <a href="/user" class="header__navbar-item-link">
                <img src="/image/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{user.name}}
          </a>
          <ul class="header__subnav-list">
            <li class="header__subnav-item">
              <a href="/user" class="header__subnav-link">Thông tin người dùng</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/user/ordered" class="header__subnav-link">Giỏ Hàng</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/" class="header__subnav-link">Bàn đã đặt</a>
            </li>
            <li class="header__subnav-item header__subnav-item">
              <a href="/user/logout" class="header__subnav-link">Đăng xuất</a>
            </li>
          </ul>
        </li>
        {{/if}}
        {{#unless user}}
        <li class="header__navbar-item">
            <a href="/loginpage" class="header__navbar-item-link">ACCOUNT</a>
            <ul class="header__subnav-list">
              <li class="header__subnav-item">
                <a href="/loginpage" class="header__subnav-link">Sign in</a>
              </li>
              <li class="header__subnav-item header__subnav-item">
                <a href="/register" class="header__subnav-link">Register</a>
              </li>
              <li class="header__subnav-item header__subnav-item">
                <a href="" class="header__subnav-link">Checkout</a>
              </li>
            </ul>
          </li>
        {{/unless}}

      </ul>
    </div>

    <div class="header-content__search">
      <div class="header-content__search-input">
        <input type="text" class="header-content__search-input-wrap" placeholder="Search products...">
        <div class="header-content__search-history">

        </div>
        <div class="header-content__search-btn">
          <i class="header-content__search-icon fal fa-search"></i>
        </div>
      </div>
    </div>
    {{#if (isMatch user.permission "Customer")}}
    <input type="checkbox" hidden id="header-nav" class="header-input">

    <label for="header-nav" class="header-slide__menu ">
      <i class="far fa-shopping-cart header-slide__menu-img"></i>
      <span class="header-slide__notice">3</span>

    </label>

    
    <div class="slidebar__container hide-on-tablet-mobile">
      <label for="header-nav" class="slidebar__close ">
        <i class="slidebar__close-icon far fa-times-circle"></i>
      </label>
      <div class="slidebar__wrap">
        <div class="slidebar__wrap-header">
          <span class="slidebar__wrap-header-quantity"></span>
          <h3 class="slidebar__wrap-header-heading">
              YOUR CART
            </span>
          </h3>
        </div>
        <ul class="slidebar__wrap-list">
          <li class="slidebar__wrap-item">
            <img src="/image/fried_chicken.jpg" alt="" class="slidebar__wrap-img">
            <div class="slidebar__wrap-info">
              <a href="" class="slidebar__wrap-info-product">Fried Chicken</a>

              <span class="slidebar__wrap-info-food">
                <button class="btn-minus">-</button>
                <input class="slidebar__wrap-info-quantity" type="text" value="1"></input>
                <button class="btn-plus">+</button>
              </span>
            </div>
            <div class="slidebar__wrap-trash-and-price">
              <i class="fal fa-trash-alt trash-btn"></i>
              <div class="slidebar__wrap-price">5</div>
            </div>
          </li>
          <li class="slidebar__wrap-item">
            <img src="/image/fried_chicken.jpg" alt="" class="slidebar__wrap-img">
            <div class="slidebar__wrap-info">
              <a href="" class="slidebar__wrap-info-product">Fried Chicken</a>

              <a href="" class="slidebar__wrap-info-food">
                <button class="btn-minus">-</button>
                <span class="slidebar__wrap-info-quantity">1</span>
                <button class="btn-plus">+</button>
              </a>
            </div>
            <div class="slidebar__wrap-trash-and-price">
              <i class="fal fa-trash-alt trash-btn"></i>
              <div class="slidebar__wrap-price">5</div>
            </div>
          </li>
          <li class="slidebar__wrap-item">
            <img src="/image/fried_chicken.jpg" alt="" class="slidebar__wrap-img">
            <div class="slidebar__wrap-info">
              <a href="" class="slidebar__wrap-info-product">Fried Chicken</a>

              <a href="" class="slidebar__wrap-info-food">
                <button class="btn-minus">-</button>
                <span class="slidebar__wrap-info-quantity">1</span>
                <button class="btn-plus">+</button>
              </a>
            </div>
            <div class="slidebar__wrap-trash-and-price">
              <i class="fal fa-trash-alt trash-btn"></i>
              <div class="slidebar__wrap-price">5</div>
            </div>
          </li>
        </ul>
        <div class="slidebar__wrap-total">
          <span class="slidebar__wrap-sub-total">SUBTOTAL</span>
          <span class="slidebar__wrap-sub-total">20</span>
        </div>
        <button class="btn-large featured-product__btn checkout-btn" type="submit"
          href="">CHECKOUT</button>
      </div>

    </div>
    {{/if}}
    <!-- end silebar -->
  </section>

</div>