<form method="POST" action="/booktable/thankyou">
    <div class="grid table-reservation">
        <div class="row">
            <div class="col l-5 table-date-time">
                <span class="table__header-heading under-line-effect under-line-effect--red">DATE</span>
                <input class="table__input" type="date">
                <span class="table__header-heading under-line-effect under-line-effect--red">TIME</span>
                <input class="table__input" list="time">
                <datalist id="time">
                    <option value="5:00PM" />
                    <option value="6:00PM" />
                    <option value="7:00PM" />
                    <option value="8:00PM" />
                    <option value="9:00PM" />
                    <option value="10:00PM" />
                    <option value="11:00PM" />
                    <option value="12:00PM" />
                </datalist>
                <span class="table__header-heading under-line-effect under-line-effect--red">NUMBER OF GUESTS</span>
                <input class="table__input" type="number">
                <button class="btn-large featured-product__btn mb-40 btn-red" type="submit" href="">BOOK NOW</button>
            </div>
            <div class="col l-7 table-location mb-40">
                <div class="content__header">
                    <h3 class="content__header-heading">
                        <span class="under-line-effect under-line-effect--red">BOOK YOUR TABLE</span>
                    </h3>
                </div>
                <div class="grid">
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <img class="table-img" src="./image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="col l-4 table-wrapper">
                        <img class="table-img" src="./image/dinner_disable.png" alt="">
                    </div>
                    <div class="col l-4 table-wrapper">
                        <img class="table-img" src="./image/dinner.png" alt="">
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    //document.addEventListener('changeTable', function () {
    //    var table = document.getElementById('table1');
    //    console.log(table);
    //});

    //var table1 = document.getElementById('table1');
    //table1.onclick = function(){
    //    table1.style.display = 'none';
    //    table1.removeAttribute('id');
    //    console.log(table1);
    //    document.getElementById('table1').style.display = 'block';
    //}

    var table =document.querySelectorAll('img');
    //console.log(table);
    var table_temporary = [];
    for (var i = 0; i < table.length; i++) {
            table[i].onclick = function (e){
                //console.log(e.target.src);
                if(e.target.src === "http://localhost:3000/image/dinner_disable.png"){
                    alert('The table is already booked!')
                }
                else if(e.target.src === "http://localhost:3000/image/dinner_select.png"){
                    e.target.src = "./image/dinner.png";
                }
                else{
                    //console.log(e.target);
                    e.target.src = "./image/dinner_select.png";
                    alert('Please choose date, time and number of guests!');
                    table_temporary.push(e.target);
                }
            }
    }
    //console.log(table_temporary);
    var book_btn = document.querySelectorAll('button');
    //console.log(book_btn[0]);
    book_btn[0].onclick = function() {
        //console.log(e.target);
        for(var i = 0; i < table_temporary.length; i++) {
            table_temporary[i].src = "./image/dinner_disable.png";
        }
        alert('You have successfully booked your table!');
    }


    var id_table = [];
    for (var i = 1; i < table.length; i++) {
        table[i].id = i;
        //console.log(table[i].id);
        id_table.push(table[i].id);
    }
    //console.log(id_table);
</script>