<div class="grid table-reservation">  
    <div class="col l-7 table-location mb-40 mt-4">
        <div class="content__header">
            <h3 class="content__header-heading">
                <span class="under-line-effect under-line-effect--red">YOUR TABLE RESERVATION INFORMATION</span>
            </h3>
        </div>
        <div class="grid">
            
        </div>
    </div>    
</div>