<form method="POST" action="/booktable/choosetable">
    <div class="grid table-reservation">
        <div class="row">
            <div class="col l-5 table-date-time">
                <div class="content__header">
                    <h3 class="content__header-heading">
                        <span class="under-line-effect under-line-effect--red">BOOK YOUR TABLE</span>
                    </h3>
                </div>
                <label for="date" class="table__header-heading under-line-effect">Date</label>
                <input type="Date" class="table__input" id="date" value="" name="date">

                <label for="time" class="table__header-heading under-line-effect">Time</label>
                <input class="table__input" id="time" name="time" value="" type="time" >

                <label for="numofguests" class="table__header-heading under-line-effect">Num of Guests</label>
                <input class="table__input" id="numofguests" name="numofguests" value="" type="numofguests">
                
                <button class="btn-2 btn-secondary book-btn" type="submit" disabled>BOOK NOW</button>
            </div>
            {{!-- <button class="btn btn-dark btn-sm check-all-submit-btn" disabled>Thực hiện</button> --}}
             <img class="table-img" src="./image/dinner.png" alt="">
        </div>
    </div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dateInput = $('#date');
        var timeInput = $('#time');
        var numofguestsInput = $('#numofguests');
        var btnFeaturedProduct = $('.book-btn');
    
        numofguestsInput.change(function() {
            renderBtnFeaturedProduct();
        });
        dateInput.change(function() {
            renderBtnFeaturedProduct();
        });
        timeInput.change(function() {
            renderBtnFeaturedProduct();
        });

        function renderBtnFeaturedProduct() {
            if ((dateInput.val() == "") || (timeInput.val() == "") || (numofguestsInput.val() == "")) {
                btnFeaturedProduct.attr('disabled', true);
            }
            else btnFeaturedProduct.attr('disabled', false);
        };
    });

</script>