<form method="POST" action="/booktable/thankyou">
    <div class="grid table-reservation">
        <div class="row">
            {{!-- <button class="btn btn-dark btn-sm check-all-submit-btn" disabled>Thực hiện</button> --}}
            <div class="col l-7 table-location mb-40">
                <div class="content__header">
                    <h3 class="content__header-heading">
                        <span class="under-line-effect under-line-effect--red">BOOK YOUR TABLE</span>
                    </h3>
                </div>
                <div class="grid">
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-1" value="1" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-2" value="2" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-3" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-4" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-5" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-6" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-7" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-8" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input id="table-img-9" type="image" class="table-img" src="/image/dinner.png" alt="">
                            </div>
                        </div>

                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label s="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{{!-- <script>
    //document.addEventListener('changeTable', function () {
    //    var table = document.getElementById('table1');
    //    console.log(table);
    //});

    //var table1 = document.getElementById('table1');
    //table1.onclick = function(){
    //    table1.style.display = 'none';
    //    table1.removeAttribute('id');
    //    console.log(table1);
    //    document.getElementById('table1').style.display = 'block';
    //}

    var table =document.querySelectorAll('img');
    //console.log(table);
    var table_temporary = [];
    for (var i = 0; i < table.length; i++) {
            table[i].onclick = function (e){
                //console.log(e.target.src);
                if(e.target.src === "http://localhost:3000/image/dinner_disable.png"){
                    alert('The table is already booked!')
                }
                else if(e.target.src === "http://localhost:3000/image/dinner_select.png"){
                    e.target.src = "./image/dinner.png";
                }
                else{
                    //console.log(e.target);
                    e.target.src = "./image/dinner_select.png";
                    alert('Please choose date, time and number of guests!');
                    table_temporary.push(e.target);
                }
            }
    }
    //console.log(table_temporary);
    var book_btn = document.querySelectorAll('button');
    //console.log(book_btn[0]);
    book_btn[0].onclick = function() {
        //console.log(e.target);
        for(var i = 0; i < table_temporary.length; i++) {
            table_temporary[i].src = "./image/dinner_disable.png";
        }
        alert('You have successfully booked your table !');
    }

    var id_table = [];
    for (var i = 1; i < table.length; i++) {
        table[i].id = i;
        console.log(table[i].id);
        id_table.push(table[i].id);
    }

    document.addEventListener('DOMContentLoaded', function() {
        var tableImage1 = $('.table-img-1');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var checkBoxAll = $('#checkbox-all');
        console.log(checkBoxAll);
    
    });

</script> --}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tableImage1 = $('#table-img-1');
        var tableImage2 = $('#table-img-2');
        var tableImage3 = $('#table-img-3');
        var tableImage4 = $('#table-img-4');
        var tableImage5 = $('#table-img-5');
        var tableImage6 = $('#table-img-6');
        var tableImage7 = $('#table-img-7');
        var tableImage8 = $('#table-img-8');
        var tableImage9 = $('#table-img-9');
        
        tableImage1.onclick = function () {
            
        }
    });
</script>