{{!-- <div class="mt-4">
    {{#if massage}}
    <div class="alert alert-danger" role="alert">{{massage}}</div>
    {{/if}}
    <form method="post" action="/user/login">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="table__input" name="email" aria-describedby="emailHelp" placeholder="Enter email"
                value="{{name}}" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="table__input" name="password" placeholder="Enter Password" required>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button class="btn-large featured-product__btn mb-40 btn-red" type="submit" href="">SUBMIT</button>
    </form>
</div> --}}
{{!-- --}}
<div class="main">
    
    <form method="post" class="form" id="form-2" action="/user/login">
        <h3 class="heading">Sign In</h3>
        <p class="desc">Connect to our restaurant</p>
        {{#if massage}}
            <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <div class="spacer"></div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input id="email" name="email" type="email" aria-describedby="emailHelp" placeholder="Ex: email@domain.com"
                class="form-control" value="{{name}}" required>
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter password..." class="form-control"
                required>
            <span class="form-message"></span>
        </div>
        {{!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> --}}
        <button class="form-submit" type="submit">Sign In</button>
    </form>

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        Validator({
            mainform: '.form',
            form: '#form-2',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isEmail('#email'),
                Validator.minLength('#password', 6),
            ],
            onSubmit: function (data) {
                // Call API
                //console.log(data);
                mainform.submit();
            }
        });
    });

</script>