{{!-- <div class="mt-4">
    <form method="POST" action="/user/register">
        {{#if massage}}
        <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <div class="form-group">
            <label for="Email1">Email address</label>
            <input type="email" name="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="password" class="form-control" id="Password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="cfpassword" class="form-control" id="confirm-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" name="name" class="form-control" id="confirm-password" placeholder="Nhập tên">
        </div>
        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--chọn giới tính--</option>
                <option value="male">nam</option>
                <option value="female">nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" id="confirm-password" placeholder="Nhập địa chỉ">
        </div>
        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
</div> --}}

{{!--  --}}

<div class="main">
      <form method="POST" class="form" id="form-1" action="/user/register">
        {{#if massage}}
        <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <h3 class="heading">Sign up new account</h3>
        <p class="desc">Connect to our restaurant</p>

        <div class="spacer"></div>

        <div class="form-group">
          <label for="fullname" class="form-label">Full Name</label>
          <input id="fullname" name="fullname" type="text" placeholder="Ex: Nguyen Van A" class="form-control">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input id="email" name="email" type="text" placeholder="Ex: email@domain.com" class="form-control">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input id="password" name="password" type="password" placeholder="Enter password" class="form-control">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="password_confirmation" class="form-label">Confirm your password</label>
          <input id="password_confirmation" name="password_confirmation" placeholder="Enter password" type="password" class="form-control">
          <span class="form-message"></span>
        </div>

        <button class="form-submit" type="submit" class="btn btn-primary ">Submit</button>
      </form>

    </div>
    
    <script>

      document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
          mainform: '.form',
          form: '#form-1',
          formGroupSelector: '.form-group',
          errorSelector: '.form-message',
          rules: [
            Validator.isRequired('#fullname', 'Please enter your full name!'),
            Validator.isEmail('#email'),
            Validator.minLength('#password', 6),
            Validator.isRequired('#password_confirmation'),
            Validator.isConfirmed('#password_confirmation', function () {
              return document.querySelector('#form-1 #password').value;
            }, 'Incorrect password!')
          ],
          onSubmit: function (data) {
            // Call API
            //console.log(data);
            mainform.submit();
          }
        });


      });

    </script>