<div class="main">
    <form method="POST" class="form" id="form-1" action="/user/updatepassword/{{id}}/{{token}}?_method=PUT">
      
      <h3 class="heading">Reset account password for {{email}}</h3>
      <div class="spacer"></div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" placeholder="Enter password" class="form-control">
        <span class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="form-label">Confirm Password</label>
        <input id="password_confirmation" name="cfpassword" placeholder="Confirm Password" type="password" class="form-control">
        <span class="form-message"></span>
      </div>

      <button class="form-submit" type="submit">Submit</button>
    </form>
</div>
    
<script>

  document.addEventListener('DOMContentLoaded', function () {
    // Mong muốn của chúng ta
    Validator({
      mainform: '.form',
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
        Validator.minLength('#password', 6),
        Validator.isRequired('#password_confirmation'),
        Validator.isConfirmed('#password_confirmation', function () {
          return document.querySelector('#form-1 #password').value;
        }, 'Incorrect password!')
      ],
      //onSubmit: function (data) {
        // Call API
        // console.log(data);
        //mainform.submit();
      //}
    });
  });
</script>
