<form style="margin-top: 100px" name="container-form">
  <div class="form-group container">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
    <small style="color: red" id="emailHelp" class="form-text text-muted">*Nhập địa chỉ email của bạn</small>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
</form>